Source: dde-launcher
Section: x11
Priority: optional
Maintainer: Arun Kumar Pariyar <openarungeek@gmail.com>
XSBC-Original-Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 cmake,
 qtbase5-dev,
 qtbase5-private-dev,
 qttools5-dev-tools,
 libqt5svg5-dev,
 libqt5x11extras5-dev,
 libxcb-ewmh-dev,
 libdframeworkdbus-dev (>=5.4.17~),
 libdtkwidget-dev (>=5.5~),
 libdtkcore-dev (>=5.5~),
 libdtkgui-dev (>=5.5~),
 libgsettings-qt-dev,
 libgtest-dev,
 libgmock-dev
Standards-Version: 4.5.1
Homepage: http://www.deepin.org/

Package: dde-launcher
Architecture: any
Depends:
 qtxdg-dev-tools,
 deepin-desktop-schemas (>=5.9.18~),
 libdtkwidget5 (>=5.5~),
 libdtkcore5 (>=5.5~),
 libdtkgui5 (>=5.5~),
 libdframeworkdbus2 (>=5.4.17~),
 dde-daemon (>=5.13.12),
 startdde (>=5.8.9),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 dde-workspace (<< 2.90.5),
Description:deepin desktop-environment - dde-launcher module
 Deepin desktop environment 2015 - dde-launcher module.
 Display all installation programs, and provide access to open, uninstall, boot and start, which is convenient for users to operate quickly